src/main/mule/challenge1_1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config7" doc:name="HTTP Listener config" doc:id="d08d2c72-1dc0-447f-99ae-6fa421e17ff0" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<flow name="mulechallengesFlow" doc:id="2e26ee43-f7c1-47a9-b305-cfee0c6ec117" >
		<http:listener doc:name="Listener" doc:id="a5016a1d-8b74-4f03-b140-e30cd7dd22cf" config-ref="HTTP_Listener_config7" path="/demo"/>
		<ee:transform doc:name="Transform Message" doc:id="e7dd17c7-61d2-4c33-8e85-899dbbfaaa19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

fun getNo(payload,name) = payload reduce ((item, accumulator=0) -> if(item.company == name) (accumulator+1) else (accumulator+0))
---
payload distinctBy ((item, index) -> item.company) map ((item, index) -> {company:item.company,no_employees:getNo(payload,item.company)})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="746a1227-9133-4823-b088-ac3a6b144ece" />
	</flow>
</mule>
